<IfModule mod_rewrite.c>
	<IfModule mod_version.c>
		<IfVersion < 2.2>
			RewriteEngine On
			RewriteRule !\.png$ - [F,L]
		</IfVersion>
		<IfVersion >= 2.2>
			RewriteEngine On
			RewriteRule !\.png$ - [L,R=404]
		</IfVersion>
	</IfModule>
</IfModule>
